<!--<html>
	<head>
		<title>HTTP METHOD</title>
	</head>
	<body>
		<a href="/display/about">About Us</a><br/
		<a href="/display/contact">Contact Us</a><br/>
		
		<from action="/display/feedback" method="get">
			Name:<input type="text" name="name"/><br/>
			  <input type="submit" value="FEEDBACK"/>
			
		</from>
	</body>
</html>-->


<html>
	<head>
		<title>Http methods</title>
	</head>
	<body>
		<a href="/display/about">About</a> <br/>
		<a href="/display/contact">Contact</a> <br/>
		
		<form action="/display/feedback" method="post">
			Name:<input type="text" name="name"/><br/>
			<input type="submit" value="Feedback"/>
		</form>	
	</body>	
</html>
